body {
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
  color: #fff;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
  width: 90%;
  max-width: 400px;
}

.titulo {
  color: #ffcc00;
  font-size: 1.3rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.mensagem {
  color: #5cc6ff;
  font-size: 0.95rem;
  line-height: 1.4;
  margin-bottom: 80px;
}

.rodape {
  margin-top: 30px;
}

.texto-rodape {
  margin-bottom: 10px;
  font-size: 1rem;
}

.btn-acompanhar {
  background-color: #ffcc00;
  color: #000;
  border: none;
  padding: 12px 40px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 0 10px #ffcc00aa;
  transition: 0.3s;
}

.btn-acompanhar:hover {
  background-color: #ffd633;
  box-shadow: 0 0 20px #ffcc00;
}
