body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Kaushan Script', cursive, sans-serif;
  background-color: #111;
    overflow-x: hidden; /* só bloqueia rolagem lateral */
    position: relative;
}

/* Topo */
.topbar {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 1.8rem;
  color: white;
}

.icone-sino {
  position: absolute;
  left: 15px;
  width: 24px;
  height: 24px;
}


/* Marcador de localização */
.marcador {
  width: 14px;
  height: 14px;
  background: #f0b400;
  border-radius: 50%;
  box-shadow: 0 0 10px #f0b400;
}

/* Botão solicitar frete */
.acao {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}


.btnSolicitar {
  background: #f0b400;
  border: 2px solid #333;
  padding: 15px 40px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  text-transform: lowercase;
}

.btnVerificarFretes {
  background: #f0b400;
  border: 2px solid #333;
  padding: 15px 40px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  text-transform: lowercase;
}

.gps {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.icone-localizacao {
  width: 32px;
  height: 32px;
  background: #ffb700;
  border-radius: 50%;
  box-shadow: 0 0 20px 8px rgba(255, 183, 0, 0.5); /* brilho */
}

#map {
  width: 100%;
  height: 100%;
  margin: 40px auto 0;
  border-radius: 10px;
}