/* Estilo geral */
body, html {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
background-color: #1E1E1E;
font-family: 'Kaushan Script', cursive, sans-serif;
display: flex;
justify-content: center;
align-items: center;
}

.container {
  text-align: center;
  width: 90%;
  max-width: 450px;
}

/* Logo */
.logo {
font-size: 2.5rem;
font-weight: normal;
color: white;
margin-bottom: 20px;
}



.hidden {
  display: none;
}
/* Títulos */
.title {
color: white;
margin: 10px 0 4px 0;
font-family: monospace;
text-transform: lowercase;
text-align: start;
font-size: 1rem;
}

.subtitle {
color: #f0b400;
font-size: 0.95rem;
margin: 15px 0 5px;
text-align: start;
font-family: monospace;
}

/* Inputs */
input {
padding: 12px;
border-radius: 8px;
border: none;
outline: none;
font-size: 1rem;
background: white;
}

/* Data de nascimento (linha com 3 inputs pequenos) */
.aniversario {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.aniversario input {
flex: 1;
width: 30%;
text-align: center;
}

/* Botões */
button {
background: #f0b400;
padding: 12px;
font-size: 1.1rem;
font-weight: bold;
border-radius: 8px;
border: none;
cursor: pointer;
margin-top: 15px;
transition: background 0.3s;
}

button:hover {
background: #fcfcfc;
}

/* Lista de documentos */
.docs-list {
list-style: none;
padding: 0;
margin: 5px 0 15px;
color: rgb(255, 0, 0);
font-size: 0.95rem;
text-align: start;
font-family: monospace;
}

.docs-list li::before {
content: "✔ ";
color: #f0b400;
}

/* Upload de arquivos */
.anexar {
display: flex;
flex-direction: column;
/* gap: 12px; */
text-align: start;
margin: 10px 0;
}

.anexar label {
color: #ffc933;
font-size: 0.9rem;
}

input[type="file"] {
background: none;
color: rgb(255, 255, 255);
font-size: 0.85rem;
padding: 6px 0;
}

.aviso {
color: #ff0000;
font-size: 0.9rem;
font-style: bold;
margin: 15px 0;
align-self: center;
text-align: start;
font-family: monospace;
}


.cadastro_freteiro {
  color: #f0b400;
  margin-top: 20px;
}

.cadastro_usuario {
  color: #f0b400;
  margin-top: 20px;
}