/* Tela utilizada por dois arquivos html */

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #1E1E1E;
  font-family: 'Kaushan Script', cursive, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.logo {
  font-size: 2.5rem; 
  font-weight: normal; 
  color: white;

}

/* Toggle */
.toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  background: #2b2b2b;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px #0004;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.toggle a {
  flex: 1;
  padding: 10px 20px;
  text-align: center;
  border-radius: 8px;
  font-size: 1rem;
  background: #333;
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}

.toggle a.active {
  background: #f0b400;
  color: black;
  font-weight: bold;
  box-shadow: 0 0 10px #f0b40088;
}

/* Telas */
.loginTela {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  color: white;
  margin-bottom: 4px;
  font-family: monospace;
  text-transform: lowercase;
  text-align: start;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
  background: white;
}

.btnInicio {
  background: #f0b400;
  padding: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.cadastro_usuario {
  color: white;
  font-size: 0.9rem;
  margin-top: 10px;
}

.cadastro_freteiro {
  color: #f0b400;
  font-weight: bold;
  margin-top: 20px;
}