{% extends 'base_inside.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock %}

{% block content %}
<div class="container">

    <h2 class="titulo">Perfil</h2>

    <div class="fotoPerfil"></div>

    <div class="nomeArea">{{ usuario.nome }}</div>

    <div class="section">
        <div class="label">Dados</div>

        <div class="row">
            <span class="valor">Email: {{ usuario.email }}</span>
        </div>

        <div class="row">
            <span class="valor">Telefone: {{ usuario.telefone }}</span>
        </div>

        <div class="row">
            <span class="valor">CPF: {{ usuario.cpf }}</span>
        </div>
    </div>

    <div class="section link-acoes">
        <a href="{% url 'editar_perfil_user' usuario.id %}">Editar perfil completo</a>
        <a href="{% url 'welcome_user' %}">voltar</a>
    </div>

</div>
{% endblock %}
