{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock %}

{% block content %}

<div class="perfil-page visualizacao">

    <h1 class="titulo">perfil</h1>

    <div class="avatar">
        <img src="{% static 'img/avatar.png' %}" alt="avatar">
    </div>

    <div class="info-bloco">

        <div class="linha">
            <span class="label">Nome</span>
            <span class="valor">{{ usuario.nome }}</span>
        </div>

        <div class="linha">
            <span class="label">Email</span>
            <span class="valor">{{ usuario.email }}</span>
        </div>

        <div class="linha">
            <span class="label">Telefone</span>
            <span class="valor">{{ usuario.tel}}</span>
        </div>

        <div class="linha">
            <span class="label">CPF</span>
            <span class="valor">{{ usuario.cpf }}</span>
        </div>

    </div>

    <a href="{% url 'editar_perfil_user' usuario.id %}" class="btn-link">Editar perfil completo</a>
    <a href="{% url 'welcome_user' %}" class="btn-link">Voltar</a>

</div>

{% endblock %}
