{% extends 'base_inside.html' %}
{% load static %}

{% block title %}Status do Frete — Freteiro — FretesExpress{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/status_frete.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css"/>

<style>
    /* Mapa com tamanho fixo para não ficar preto */
    #map {
        width: 90%;
        height: 380px;
        border-radius: 15px;
        margin: 0 auto;
        margin-top: 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">

    <!-- Topo -->
    <header class="topo">
        <h1 class="logo">FretesExpress</h1>
    </header>

    <!-- Mapa -->
    <div id="map"></div>

    <!-- Endereços enviados para o script -->
    <script id="endereco-coleta" type="application/json">
        "{{ frete.endereco_coleta }}"
    </script>

    <script id="endereco-entrega" type="application/json">
        "{{ frete.endereco_entrega }}"
    </script>


    <!-- Informações -->
    <div class="info">
        <p>📦 Produto: {{ frete.produto }}</p>
        <p>🟡 Coletar em: {{ frete.endereco_coleta }}</p>
        <p>⚫ Entregar em: {{ frete.endereco_entrega }}</p>
        <p>📅 Data: {{ frete.data_solicitacao }}</p>
        <p>🕰️ Horário: {{ frete.hora_solicitacao }}</p>
        <p>💵 Valor do Item: <b>R$ {{ frete.valor }} </b></p>
        <p>Distância: <span id="distancia_km"></span></p>


        <span class="preco" id="custo_frete"></span>
    </div>

    <!-- Status -->
    <footer class="rodape">
        {% if frete.status == "pendente" %}
            <p>⏳ Aguardando você confirmar a retirada.</p>
        {% elif frete.status == "aceito" %}
            <p>🚚 Você aceitou este frete!</p>
            <p class="sub">Dirija-se ao ponto de coleta.</p>
        {% elif frete.status == "em_andamento" %}
            <p>📦 Frete em andamento</p>
            <p class="sub">Leve o item até o destino indicado.</p>
        {% elif frete.status == "concluido" %}
            <p>✅ Frete finalizado com sucesso!</p>
            <p class="sub">Obrigado por trabalhar com a FretesExpress!!!!</p>
        {% else %}
            <p>ℹ Status desconhecido</p>
        {% endif %}
    </footer>

</div>
{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

<script src="https://api.mapbox.com/mapbox-gl-js/v2.17.0/mapbox-gl.js"></script>

<script>
    const freteId = {{ frete.id }};
</script>

<script src="{% static 'js/status_frete.js' %}"></script>
{% endblock %}
