{% extends 'base.html' %}
{% load static %}

{% block title %}Status do Frete — FretesExpress{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/frete_solicitacoes.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="container">
    <h2 class="titulo">O seu frete foi solicitado com sucesso!</h2>
    <p class="mensagem">
        Alertaremos quando um entregador parceiro aceitar realizar a sua entrega!
    </p>

        <div class="rodape">
        <p class="texto-rodape">Acompanhe seu frete!</p>
        {% if frete %}
            <a href="{% url 'status_frete' frete.id %}">
                <button class="btn-acompanhar">Acompanhar</button>
            </a>
        {% else %}
            <p>Nenhum frete encontrado.</p>
        {% endif %}
    </div>

</div>
{% endblock %}

{% block extra_js %}
<!-- Se houver JS específico para esta página, insira aqui -->
{% endblock %}
