{% load static %}
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Status do Frete</title>
  <link rel="stylesheet" href="{% static 'css/frete_solicitacoes.css' %}">
</head>
<body>

  <div class="container">
    <h2 class="titulo">O seu frete foi solicitado com sucesso!</h2>
    <p class="mensagem">
      Alertaremos quando um entregador parceiro aceitar realizar a sua entrega!
    </p>

    <div class="rodape">
        <p class="texto-rodape">Acompanhe seu frete!</p>
        <a href="{% url 'status_frete' %}">
            <button class="btn-acompanhar">Acompanhar</button>
        </a>
    </div>
  </div>

</body>
</html>