{% extends 'base.html' %}
{% load static %}

{% block title %}Solicitar Frete — FretesExpress{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/solicitar_frete.css' %}">
<link href='https://api.mapbox.com/mapbox-gl-js/v2.17.0/mapbox-gl.css' rel='stylesheet' />
<link href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css' rel='stylesheet' />

{% endblock %}

{% block content %}
<div class="container">
    <h1 class="logo">FretesExpress</h1>

    <form action="{% url 'solicitar_frete' id=usuario.id %}" method="POST">
        {% csrf_token %}

        <p class="title">detalhes do frete:</p>
        <input name="produto" type="text" placeholder="o que é?", required>
        <input name="peso" type="text" placeholder="peso", required>

        <p class="title">medidas:</p>
        <div class="aniversario">
          <div class="input-sufixo">
            <input type="text" name="largura" placeholder="largura" required>
            <span>cm</span>
          </div>
          <div class="input-sufixo">
            <input type="text" name="altura" placeholder="altura" required>
            <span>cm</span>
          </div>
        </div>


        <div class="input-prefixo">
          <span>R$</span>
          <input type="text" name="valor" placeholder="valor do item" required>
        </div>
<div style="position: relative; width: 100%; margin-bottom: 10px;">
  <input
    type="text"
    id="endereco_coleta"
    name="endereco_coleta"
    placeholder="Digite o endereço de origem"
    autocomplete="off"
    style="width: 100%; padding: 12px; border-radius: 8px; border: none;", required
  />
  <div id="autocomplete-list-coleta" style="position: absolute; background: white; width: 100%; max-height: 200px; overflow-y: auto; border: 1px solid #ccc; z-index: 999;"></div>
</div>

<div style="position: relative; width: 100%; margin-bottom: 10px;">
  <input
    type="text"
    id="endereco_entrega"
    name="endereco_entrega"
    placeholder="Digite o endereço de destino"
    autocomplete="off"
    style="width: 100%; padding: 12px; border-radius: 8px; border: none;" , required
  />
  <div id="autocomplete-list-entrega" style="position: absolute; background: white; width: 100%; max-height: 200px; overflow-y: auto; border: 1px solid #ccc; z-index: 999;"></div>
</div>
        <p class="title">Data e hora da entrega</p>
        <div class="aniversario">
            <input name="dia" type="number" min="1" max="31" placeholder="dia", required>
            <input name="mes" type="number" min="1" max="12" placeholder="mês", required>
            <input name="ano" type="number" min="2024" max="2222" placeholder="ano", required>
        </div>

        <input id="hora" name="hora_solicitacao" type="time" placeholder="hh:mm" style="margin-top:10px; text-align:center;", required>


        <button id="btnConcluir" type="submit">concluir</button>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script src='https://api.mapbox.com/mapbox-gl-js/v2.17.0/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js'></script>
<script src="{% static 'js/solicitar_frete.js' %}"></script>
{% endblock %}
