{% extends 'base_inside.html' %}
{% load static %}

{% block title %}Bem-vindo — FretesExpress{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/tela_inicial.css' %}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="topbar">
    <h1 class="logo">FretesExpress</h1>
</div>

<div class="acao">
    <a href="{% url 'solicitar_frete' id=usuario.id %}">
        <button class="btnSolicitar">solicitar frete</button>
    </a>
</div>

<div id="map" style="height: 400px; margin-top: 20px;"></div>

{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{% static 'js/tela_inicial.js' %}"></script>
{% endblock %}
