{% extends 'base.html' %}
{% load static %}

{% block title %}Login — FretesExpress{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/tela_login.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="container">
    <h1 class="logo">FretesExpress</h1>

    <div class="toggle">
        <a href="{% url 'login_user' %}" class="{% if active == 'usuario' %}active{% endif %}" id="btnUsuario">usuário</a>
        <a href="{% url 'login_freteiro' %}" class="{% if active == 'motorista' %}active{% endif %}" id="btnMotorista">motorista</a>
    </div>

    <form action="{% url 'login_freteiro' %}" method="POST">
        {% csrf_token %}
            
        <div id="motoristaTela" class="loginTela">
            <p class="title">painel de bordo</p>

            <input name="email" type="email" placeholder="e-mail">
            <input name="senha" type="password" placeholder="senha">

            <button class="btnInicio" type="submit">dar partida</button>
            {% if erro %}
                <p id="erro" class="erro">Usuário ou senha inválidos</p>
            {% endif %}

            <a href="{% url 'cadastro_freteiro' %}" class="cadastro_freteiro">torne-se um freteiro!</a>
            <a href="{% url 'cadastro_user' %}" class="cadastro_usuario">cadastre-se como solicitante</a>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/tela_inicio.js' %}"></script>
{% endblock %}
