{% extends 'base_inside.html' %}
{% load static %}

{% block title %}Freteiro — FretesExpress{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/tela_inicial.css' %}">
<link rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      crossorigin=""/>
{% endblock %}
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">


{% block content %}
<!-- Topo -->
<div class="topbar">
    <h1 class="logo">FretesExpress</h1>
</div>

<div class="container">
    <div class="acao">
        <a href="{% url 'fretes_disponiveis' %}">
            <button class="btnSolicitar">Ver fretes disponíveis</button>
        </a>
    </div>

    <!-- Mapa -->

    <!-- Botão para ver fretes -->
    {% comment %} <a href="{% url 'fretes_disponiveis' %}" class="btnFretes">
        Ver fretes disponíveis
    </a> {% endcomment %}
</div>
<div id="map" style="height: 400px; margin-top: 20px;"></div>

{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>
<script src="{% static 'js/tela_inicial.js' %}"></script>
{% endblock %}
