{% extends 'base.html' %}
{% load static %}

{% block title %}Cadastro Usuário — FretesExpress{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/tela_cadastro.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="container">
    <h1 class="logo">FretesExpress</h1>

    <form action="{% url 'cadastro_user' %}" class="cadastroTela usuario" method="POST">
        {% csrf_token %}
        <p class="title">cadastre-se</p>

        <input name="nome" type="text" placeholder="nome" required>
        <input name="email" type="email" placeholder="email" required>
        <input type="email" placeholder="confirme seu email" required>
        <input name="tel" type="tel" placeholder="número de telefone" required>
        <input name="cpf" type="text" placeholder="cpf" required>
        <input name="senha" type="password" placeholder="senha" required>
        <input type="password" placeholder="confirme sua senha" required>

        <p class="title">insira sua data de nascimento</p>
        <div class="aniversario">
            <input name="dia" type="text" placeholder="dia" maxlength="2" required>
            <input name="mes" type="text" placeholder="mês" maxlength="2" required>
            <input name="ano" type="text" placeholder="ano" maxlength="4" required>
        </div>

        <button type="submit" id="btnEntrarUsuario">cadastrar</button>
    </form>

    <a href="{% url 'cadastro_freteiro' %}" class="cadastro_freteiro">torne-se um freteiro!</a>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/cadastro_usuario.js' %}"></script>
{% endblock %}
