{% extends 'base.html' %}
{% load static %}

{% block title %}Solicitar Frete — FretesExpress{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/tela_cadastro.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="logo">FretesExpress</h1>

    <form action="{% url 'solicitar_frete' id=usuario.id %}" method="POST">
        {% csrf_token %}

        <p class="title">detalhes do frete:</p>
        <input name="produto" type="text" placeholder="o que é?">
        <input name="peso" type="text" placeholder="peso">

        <p class="title">medidas:</p>
        <div class="aniversario">
            <input name="largura" type="text" placeholder="largura">
            <input name="altura" type="text" placeholder="altura">
        </div>

        <input name="valor" type="text" placeholder="valor do item">
        <input name="endereco_coleta" type="text" placeholder="endereço de origem">
        <input name="endereco_entrega" type="text" placeholder="endereço de destino">

        <p class="title">Data e hora da entrega</p>
        <div class="aniversario">
            <input name='dia' type="text" placeholder="dia">
            <input name='mes' type="text" placeholder="mês">
            <input name='ano' type="text" placeholder="ano">
        </div>
        <input name="hora" type="text" placeholder="hora" style="margin-top:10px; text-align:center;">

        <button type="submit">concluir</button>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<!-- JS específico desta página, se houver -->
{% endblock %}
